---
- name: Manage Firewall
  hosts: node1
  become: true
  tasks:
    - name: do not permit traffic in default zone on port 8081/tcp
      ansible.posix.firewalld:
        port: 8081/tcp
        permanent: true
        state: disabled
...

