********Welcome to {{ ansible_distribution }} Server.********
The IP address of this machine is {{ ansible_default_ipv4.address }}
The machine hostname is {{ ansible_fqdn }}
******NEHRA CLASSES ARE AWESOME.******
