$TTL 86400
@ IN SOA dns-primary.nehraclasses.edu. admin.nehraclasses.edu. (
                2020011800 ;Serial
                3600 ;Refresh
                1800 ;Retry
                604800 ;Expire
                86400 ;Minimum TTL
)
;Name Server Information
@ IN NS dns-primary.nehraclasses.edu.
;IP Address for Name Server
dns-primary IN A 192.168.229.129
;Mail Server MX Record
nehraclasses.edu. IN MX 10 mail.nehraclasses.edu.
; A Record for the following hostname
www IN A 192.168.229.50
mail IN A 192.168.229.60
;CNAME Record
ftp IN CNAME www.nehraclasses.edu.

