---
- name: Managing Users & Groups
  hosts: node1
  become: yes
  vars:
    password: mySecret
  tasks:
    - name: Add a simple user called Greta Grace
      user:
        name: gretagrace
        comment: Greta Grace

    - name: Add user amit with a password
      user:
        name: amit
        password: "{{ password | password_hash('sha512') }}"
        update_password: on_create

    - name: Add a group called nehraclasses
      group:
        name: nehraclasses
        state: present

    - name: Add a user Ashish and add them to a group nehraclasses
      user:
        name: ashish
        groups: nehraclasses
        append: yes

    - name: Add user Rahul and generate for them an SSH key
      user:
        name: rahul
        generate_ssh_key: yes
        ssh_key_bits: 2048
        ssh_key_file: .ssh/id_rsa

    - name: Add user noHome with no home and set account to expire on certain date
      user:
        name: noHome
        create_home: no
        expires: 1590155615

    - name: Add a user Suraj having login shell as sh and add them to a group nehraclasses
      user:
        name: suraj
        shell: /bin/sh
        groups: nehraclasses
        append: yes

    - name: Add the user 'Vijay Sharma' with a specific uid as 1077 having username as vijay, having home directory as /home/vijaysharma
      user:
       name: vijay
       comment: Vijay Sharma
       uid: 1077
       createhome: yes            # Defaults to yes
       home: /home/vijaysharma    # Defaults to /home/<username>
...
