---
- name: HAProxy Server Configuration Playbook
  hosts: localhost
  become: true
  tasks:
    - name: Setting up the static hostname in the server machine.
      hostname:
        name: haproxy-server
        use: systemd

    - name: Making entries in the /etc/hosts file for the server hostnames & IP Addresses
      blockinfile:
        dest: /etc/hosts
        block: |
          192.168.229.128 haproxy-server
          192.168.229.129 nginx-node01
          192.168.229.131 nginx-node02
        insertafter: EOF

    - name: Installing HAProxy packages in the machine.
      dnf:
        name: haproxy
        state: latest

    - name: Copying the /etc/haproxy/haproxy.cfg file using ansible jinja template.
      template:
        src: haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        force: true

    - name: Making changes in the /etc/rsyslog.conf file.
      replace:
        dest: /etc/rsyslog.conf
        regexp: '^#module(load="imudp")'
        replace: 'module(load="imudp")'

    - name: Making changes in the /etc/rsyslog.conf file.
      replace:
        dest: /etc/rsyslog.conf
        regexp: '^#input(type="imudp" port="514")'
        replace: 'input(type="imudp" port="514")'

    - name: Creating haproxy.conf file for the rsyslog.
      copy:
        dest: "/etc/rsyslog.d/haproxy.conf"
        content: |
          local2.=info /var/log/haproxy-access.log
          local2.notice /var/log/haproxy-info.log

    - name: Restarting & enabling the rsyslog service.
      service:
        name: rsyslog
        state: restarted
        enabled: yes

    - name: Turning on the haproxy_connect_any SELinux boolean.
      command: setsebool -P haproxy_connect_any 1

    - name: Allowing HTTP traffic in the firewall.
      firewalld:
        service: http
        zone: public
        permanent: true
        immediate: true
        state: enabled

    - name: Starting & enabling the haproxy service.
      service:
        name: haproxy
        state: started
        enabled: yes

- hosts: node1
  become: true
  tasks:
    - name: Setting up the static hostname in the node1 machine.
      hostname:
        name: nginx-node01
        use: systemd

    - name: Making entries in the /etc/hosts file for the server hostnames & IP Addresses
      blockinfile:
        dest: /etc/hosts
        block: |
          192.168.229.128 haproxy-server
          192.168.229.129 nginx-node01
          192.168.229.131 nginx-node02
        insertafter: EOF

    - name: Installing nginx packages in the machine.
      dnf:
        name: nginx
        state: latest

    - name: Copying the image file to the /usr/share/nginx/html/ directory.
      copy:
        src: /home/vikasnehra/NehraClassesLogo.png
        dest: /usr/share/nginx/html/NehraClassesLogo.png
        mode: '0644'

    - name: Creating the index.html file for node1.
      copy:
        dest: "/usr/share/nginx/html/index.html"
        content: |
          <img src="/NehraClassesLogo.png" width="500" height="500" />
          <h1>Nehra Classes Are Awesome.</h1>
          <i>This page is hosted on node1 machine using nginx.</i>

    - name: Allowing HTTP traffic in the firewall.
      firewalld:
        service: http
        zone: public
        permanent: true
        immediate: true
        state: enabled

    - name: Starting & enabling the nginx service.
      service:
        name: nginx
        state: started
        enabled: yes

- hosts: node3
  become: true
  tasks:
    - name: Setting up the static hostname in the node1 machine.
      hostname:
        name: nginx-node02
        use: systemd

    - name: Making entries in the /etc/hosts file for the server hostnames & IP Addresses
      blockinfile:
        dest: /etc/hosts
        block: |
          192.168.229.128 haproxy-server
          192.168.229.129 nginx-node01
          192.168.229.131 nginx-node02
        insertafter: EOF

    - name: Installing nginx packages in the machine.
      dnf:
        name: nginx
        state: latest

    - name: Copying the image file to the /usr/share/nginx/html/ directory.
      ansible.builtin.copy:
        src: /home/vikasnehra/NehraClassesLogo.png
        dest: /usr/share/nginx/html/NehraClassesLogo.png
        mode: '0644'

    - name: Creating the index.html file for node2.
      copy:
        dest: "/usr/share/nginx/html/index.html"
        content: |
          <img src="/NehraClassesLogo.png" width="500" height="500" />
          <h1>Nehra Classes Are Awesome.</h1>
          <i>This page is hosted on node2 machine using nginx.</i>

    - name: Allowing HTTP traffic in the firewall.
      firewalld:
        service: http
        zone: public
        permanent: true
        immediate: true
        state: enabled

    - name: Starting & enabling the nginx service.
      service:
        name: nginx
        state: started
        enabled: yes
...
