---
- name: NFS Server Configuration Playbook
  hosts: node1
  become: true
  tasks:
    - name: Installing NFS packages
      dnf:
        name: nfs*
        state: latest

    - name: Starting and enabling NFS services
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop:
        - nfs-server
        - rpcbind

    - name: Creating NFS export directory
      file:
        path: /nfs_share
        state: directory
        owner: nobody
        group: nobody
        mode: "0777"

    - name: Configuring NFS exports
      lineinfile:
        path: /etc/exports
        line: "/nfs_share *(rw,sync,no_root_squash,no_all_squash)"
        state: present
      notify: Restart NFS

    - name: Ensure NFS-related ports are open in firewall
      firewalld:
        service: "{{ item }}"
        permanent: yes
        state: enabled
        immediate: yes
      loop:
        - nfs
        - mountd
        - rpc-bind

  handlers:
    - name: Restart NFS
      systemd:
        name: nfs-server
        state: restarted
...
